h3{
	font-size: 2em;
	color: white;
	background-color: hsla(240,100%,20%,0.4);
}

h2 p{
	color: blue;
}
body{
	background-image: url("a.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

p{
	
	color: yellow;
}

a{
	background-color : rgb(98,98,0);
	color: black;
}

#num1{
	background-color : rgba(98,98,0,0.4);
	color: yellow;
	font-size: 1.2em;
}

#num2{
	background-color : hsla(190,70%,50%,0.8);
}